/* =================================
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

body img {
  max-width: 100%;
}

.header,
footer {
  background-color: #f7f7f7;
  padding: 24px 0;
}

p {
  color: #808080;
  margin-bottom: 36px;
  padding: 15px;
}

div {
  border: 2px solid blue;
}
/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.nav__list {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  list-style: none;
  padding-left: 0;
  text-transform: uppercase;
}

.nav__list li {
  background-color: white;
  margin: .25em 0;
  padding: 1em 0;
}

/* ---- Layout Containers ---- */

.container {
  margin: 0 auto;
  width: 90%;
}

.intro {
  margin-top: 43px;
}

.intro__img {
  width: 60%;
}
.main-container {
  text-transform: uppercase;
}

.main-container h2 {
  padding: 2em 0;
}

.main-container,
.container h2 {
  font-size: 16px;
}

.box {
  margin-top: 33px;
}

.contact {
  /* background-color: #f7f7f7; */
  padding: 24px 0;
}

.contact h2 {
  text-transform: uppercase;
}

.contact__item {
  margin-bottom: 15px;
  margin-top: 0;
  padding: 0;
}

.contact__item_bold {
  font-weight: bold;
}

/* #horizontal-line {
  width: 200px;
  height: 1px;
  background-color: silver;

} */

.footer__nav {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  padding: 1.5em 1em;
}

.footer__nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}


/* =================================
  Media Queries
==================================== */

@media (min-width:768px){
  .nav-container{
    flex-direction: row;
    justify-content: center;
  }

  .nav-container li {
    background-color: #f7f7f7;
    margin: 10px 30px;
  }

  .intro {
    display: flex;
    justify-content: flex-start;
  }
}
