/* =================================
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
}

body img {
  max-width: 100%;
}

.header,
footer {
  background-color: #f7f7f7;
  /* padding: 24px 0; */
}

h2 {
  font-size: 16px;
}

p {
  color: #808080;
  /* margin-bottom: 36px; */
  padding: 0.5em 0;
}

/* div {
  border: 2px solid blue;
} */
/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.nav__list {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  list-style: none;
  padding-left: 0;
  text-transform: uppercase;
}

.nav__list li {
  background-color: white;
  margin: .25em 0;
  padding: 1em 0;
}

/* ---- Layout Containers ---- */

.container {
  padding: 0 1em;

}

.intro__img {
  /* margin-top: 43px; */
  width: 80%;
}
.box__1,
.box__8 h2 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

/* .main-container h2 {
  padding: 2em 0;
}

.main-container,
.container h2 {
  font-size: 16px;
} */

.box {
  font-weight: normal;
  margin-top: 33px;
  /* padding: 1em 0; */
}

/* .contact {
  background-color: #f7f7f7;
  padding: 24px 0;
} */

/* .contact h2 {
  text-transform: uppercase;
} */

.contact__item {
  margin-bottom: 15px;
  margin-top: 0;
  padding: 0;
}

.contact__item_bold {
  font-weight: bold;
}

/* #horizontal-line {
  width: 200px;
  height: 1px;
  background-color: silver;

} */

.footer__nav {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  padding: 1.5em 1em;
}

.footer__nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}


/* =================================
  Media Queries
==================================== */

@media (min-width:769px){
  .container {
    margin: 0 auto;
    max-width: 1000px;
    width: 70%;
    }


  .nav-container{
    flex-direction: row;
    justify-content: center;
  }

  .nav-container li {
    background-color: #f7f7f7;
    margin: 10px 30px;
  }

  .intro {
    display: flex;
    justify-content: flex-start;
  }
}
