/* =================================
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

body img {
  max-width: 100%;
}

.header {
  background-color: #f7f7f7;
  padding: 24px 0;
}

.header img {
  margin-top: 42px;
  width: 60%;
}

h1  {
  margin-bottom: 45px;
}

/* h2 {
  margin: 32px 0 20px 0;
} */

p {
  color: #808080;
  /* margin-bottom: 45px; */
  /* padding: 10px; */
}


/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

.main-nav li {
  background-color: white;
  font-weight: bold;
  margin-bottom: .5em;
  margin-left: 0;
  padding: 1em 0;
  text-transform: uppercase;
}

/* .intro {
  margin-top: 45px;
} */


/* ---- Layout Containers ---- */

/* =================================
  Media Queries
==================================== */
